<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="Helper oops response template">
    <meta name="author" content="Multihelpers">
    <meta name="version" content="1.0">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  </head>
  <body>
    <div>
      <hr align="center" width=100% size="1" color="#00cded" />
    </div>

    <div style="text-align: center;">
      <h1 style="font-weight: 400; margin-top: 10%">¡Ups! Ha occurido un error inesperado</h1>
    </div>
  </body>
</html>
